@import '../../styles/variables';

.sidebar-container {
  box-shadow: none;
  padding: $sp-2 $sp-1;
  border-right: 2px solid $primary-light;

  .ant-layout-sider-children {
    .ant-menu-root {
      border-inline-end: none;

      .ant-menu-title-content {
        font-family: 'Roboto', sans-serif;
      }

      .ant-menu-item {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 6px;
          height: 50%;
          background-color: $primary;
          border-radius: $sp-1;
          opacity: 0;
          transition: opacity 0.2s ease, height 0.2s ease;
        }

        &.ant-menu-item-selected::before {
          opacity: 1;
        }

        &:hover::before {
          opacity: 0.7;
        }

        .ant-menu-title-content {
          font-size: $font-base;
          color: $gray-500;
        }

        .ant-menu-item-icon {
          height: $sp-4;
          width: $sp-4;

          svg {
            height: 100%;
            width: 100%;
            fill: $gray-500;
          }
        }

        &.ant-menu-item-selected {
          background: $primary-light;

          .ant-menu-item-icon svg {
            fill: $primary;
          }

          .ant-menu-title-content {
            color: $primary;
          }
        }
      }
    }
  }
}
  